.btn_Counter{
    width: 50%
    height: 6vh;
}
.Counter{
    margin-left: 30%;
    width: 500%;
}
.box-dark{
    width: 100;
    height: 40vh;
    background-color: black;
}
.box-white{
    width: 100%;
    height: 40vh;
    background-color: beige;
}
